# MySQL Configuration

MYSQL_ROOT_PASSWORD=your_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_username
MYSQL_PASSWORD=replace_with_your_mysql_password

# Ngrok Configuration

NGROK_AUTHTOKEN=replace_with_your_ngrok_auth_token
NGROK_DOMAIN=replace_with_your_ngrok_domain

# Backend Configuration

# Make sure the password in DATABASE_URL matches MYSQL_PASSWORD above

DATABASE_URL=mysql+pymysql://user1:replace_with_your_mysql_password@mysql:3306/your_database_name

# MongoDB Configuration

MONGO_URL=mongodb://mongodb:27017/

# LINE Messaging API Configuration

ACCESS_TOKEN=replace_with_your_line_access_token
CHANNEL_SECRET=replace_with_your_line_channel_secret

# LLM API Configuration

TYPHOON_API_KEY=replace_with_your_typhoon_api_key

# Default Admin Account

ADMIN_USERNAME=replace_with_admin_username
ADMIN_EMAIL=replace_with_admin_email
ADMIN_PASSWORD=replace_with_admin_password
